.ticTacToe{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color1;
    
    &__menu{
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color1;
    }

    &__title{
        @include text-L($color3); 
        text-align:center;
        margin-top: 23px;
        max-width: 277px;
        text-transform: uppercase;
    }

    &__inputs{
        display: flex;
        justify-content: space-between;
        margin-top: 23px;
        width: 100%;
        
    }

    &__inputName{
        width: 230px;
        height: 45px;
        border: 3px solid $color1;
        @include boxShadowWhiteInput;
        border-radius: 100px;
        background-color: transparent;
        box-sizing: border-box;
        text-align: center;
        @include text-XS ($labelText);
        font-weight:100;
    }

    &__button{
        padding: 20px 42px;
        text-transform: uppercase;
        @include text-L ($color3);
        @include boxShadowWhite;
        border-radius: 100px;
        cursor: pointer;
        margin-top: 40px;
        box-sizing: border-box;
        background-color: $color1;
        &:active{
            transform:scale(0.98);
            @include boxShadowWhiteCliked;
          }
    }

    &__players{
        width: 100%;
        max-width: 560px;
        min-height: 280px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 32px;
        @include boxShadowWhite;
        border-radius: 10px;

    }

    &__smallText{
        text-align: center;
        @include text-XS ($labelText);
        font-weight:100;
        width: 220px;
        margin-top: 50px;
    }

    &__toggle{
        display: block;
        width: 50px;
        height: 12px;
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(55, 84, 170, 0.15), -4px -4px 8px rgba(255, 255, 255, 0.25), inset 2px 2px 4px rgba(255, 255, 255, 0.25);;
        border:1px solid rgba(255, 255, 255, 0.6);
        position: relative;
        background-color: $color1;
        margin-top: 26px;

        &:after{
            content: '';
            background-color: $color1;
            display: block;
            width: 24px;
            height: 24px;
            box-shadow: 4px 4px 8px rgba(55, 84, 170, 0.15), -4px -4px 8px rgba(255, 255, 255, 0.25), inset 2px 2px 4px rgba(255, 255, 255, 0.25);;
            border:1px solid rgba(255, 255, 255, 0.6);
            border-radius: 100%;
            position: absolute;
            top: -8px;
            left: -2px;
        }
        
        input{
            opacity: 0;
            position: absolute;
        }
    }

    &__boardGame{
        width:100%;
    }

    &__boardContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
        position: relative;
        display: flex;  
    }

    &__board{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    &__area{
        min-width: 150px;
        min-height: 150px;
        font-size: 30px;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [data-area="0"]{
        border-bottom:$border;
        border-right:$border ;
    }
    [data-area="1"]{
        border-bottom:$border;
        border-right:$border ;
    }
    [data-area="2"]{
        border-bottom:$border;
    }
    [data-area="3"]{
        border-bottom:$border;
        border-right:$border ;
    }
    [data-area="4"]{
        border-bottom:$border;
        border-right:$border ;
    }
    [data-area="5"]{
        border-bottom:$border;
    
    }
    [data-area="6"]{
        border-right:$border ;
    }
    [data-area="7"]{
        border-right:$border ;
    }
    [data-area="8"]{
    
    } 

    
}

.xMark{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.xMark::before{
    content: '+';
    font-size: 7em;
    color: #d8d8d8;
    transform: rotate(45deg);   
    position: absolute;
    pointer-events: none
}

.oMark{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.oMark::before{
    content: 'O';
    font-size: 4em;
    color: #d8d8d8;
    font-weight: 700;
    position: absolute;
    pointer-events: none
}

