.ticTacToe{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color1;
    
    &__menu{
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    &__title{
        @include text-L($color3); 
        text-align:center;
    }

    &__inputs{
        display: flex;
        justify-content: space-between;
        
    }

    &__inputName{
        width: 230px;
        height: 45px;
        border: 3px solid rgba(255, 255, 255, 0.2);
        @include boxShadowWhite;
        border-radius: 100px;
        background-color: transparent;
    }

    &__players{
        width: 100%;
        max-width: 560px;
        min-height: 280px;
        padding: 32px;
        @include boxShadowWhite;
        border-radius: 10px;

    }

    &__boardGame{
        width:100%;
    }

    &__boardContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
        position: relative;
        display: flex;  
    }

    &__board{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    &__area{
        min-width: 150px;
        min-height: 150px;
        font-size: 30px;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [data-area="0"]{
        border-bottom:$border;
        border-right:$border ;
    }
    [data-area="1"]{
        border-bottom:$border;
        border-right:$border ;
    }
    [data-area="2"]{
        border-bottom:$border;
    }
    [data-area="3"]{
        border-bottom:$border;
        border-right:$border ;
    }
    [data-area="4"]{
        border-bottom:$border;
        border-right:$border ;
    }
    [data-area="5"]{
        border-bottom:$border;
    
    }
    [data-area="6"]{
        border-right:$border ;
    }
    [data-area="7"]{
        border-right:$border ;
    }
    [data-area="8"]{
    
    } 

    
}

.xMark{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.xMark::before{
    content: '+';
    font-size: 7em;
    color: #d8d8d8;
    transform: rotate(45deg);   
    position: absolute;
    pointer-events: none
}

.oMark{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.oMark::before{
    content: 'O';
    font-size: 4em;
    color: #d8d8d8;
    font-weight: 700;
    position: absolute;
    pointer-events: none
}

