//colors
$color1:#EDF0F3;
$color2:#424348;
$color3:#4CD6D6;
//
$light1: #FFFF;
$light2: #4C4D53;
$light3: #57F6F6;
//
$shadow1: #3754AA ;
$shadow2: #38393D;
$shadow3: #41B6B6;
//
$labelText: #A3B1C6;


//font
$mainFont:'Roboto', sans-serif;

//text
@mixin text-XL ($color){
    color: $color;
    font-family: $mainFont;
    font-size:70px;
   
}

@mixin text-L ($color){
    color: $color;
    font-family: $mainFont;
    font-size:20px;
    
}

@mixin text-M ($color){
    color: $color;
    font-family: $mainFont;
    font-size:18px;

}

@mixin text-S ($color){
    color: $color;
    font-family: $mainFont;
    font-size:20px;

}

@mixin text-XS ($color){
    color: $color;
    font-family: $mainFont;
    font-size:14px;

}




//boxSadow:
@mixin boxShadowWhite {
    box-shadow: 11px 13px 20px 3px rgba(55, 84, 170, 0.15), -7px -10px 40px 5px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(255, 255, 255, 0.5);}

@mixin boxShadowWhiteCliked {
    box-shadow: 5px 5px 9px rgba(55, 84, 170, 0.03), -20px -20px 40px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(255, 255, 255, 0.5);}

@mixin boxShadowWhiteInput {
    box-shadow:5px 5px 10px rgba(55, 84, 170, 0.10), inset 5px 5px 10px rgba(55, 84, 170, 0.10), -20px -20px 40px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(255, 255, 255, 0.5);}


$border: solid 3px $shadow2;
